.button{
    -fx-shape: "M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z";
    -fx-pref-width: 80px;
    -fx-pref-height: 85px;
    -fx-border-color: black;
}

.green{
    -fx-background-color: #69B34C;
}

.greenyellow{
    -fx-background-color: #ACB334;
}

.yellow{
    -fx-background-color: #FAB733;
}

.orange{
    -fx-background-color: #FF8E15;
}

.orangered{
    -fx-background-color: #FF4E11;
}

.red{
    -fx-background-color: #FF0D0D;
}